@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  padding: 36px 48px 0;
}

@media screen and (max-width: 1040px) {
  .lead {
    padding: 28px 48px 0;
  }
}

@media screen and (max-width: 920px) {
  .lead {
    padding: 28px 0 0;
  }
}
