.cover__overlay {
  background: url(../../../images/cover-trains.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width :100%;
  min-height: 740px;
  color: #fff;
  text-decoration: none;
}

.cover__overlay::before {
  content: "";
  background: #2A2C2F;
  opacity: .3;
  position: absolute;
  z-index: 0;
  width :100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity .5s ease;
}

.cover__overlay:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1040px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 920px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 600px) {
  .cover__overlay {
    min-height: 320px;
  }
}

@media screen and (max-width: 420px) {
  .cover__overlay {
    min-height: 200px;
  }
}
